{% extends '_base.html' %}

{% block title %}{{ car.title }}{% endblock title %}

{% block content %}

    <div class="card card-nav-tabs text-center">
        <div class="card-header card-header-primary">
            <h1 class="text-center">{{ car.name }}</h1> 
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Model: {{ car.model }}</li>
          <li class="list-group-item">Year: {{ car.year }}</li>
          <li class="list-group-item">Engine: {{ car.engine }}</li>
          <li class="list-group-item">Fuel: {{ car.fuel }}</li>
        </ul>
      </div>

{% endblock content %}