{% extends 'form_base.html' %}

{% load static %}

{% load socialaccount %}

{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card card-login">
      <form class="form" method="post">
        {% csrf_token %}
        <div class="card-header card-header-primary text-center">
          <h4 class="card-title">Login</h4>
          <div class="social-line">
            <a href="#" class="btn btn-just-icon btn-link">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#" class="btn btn-just-icon btn-link">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="{% provider_login_url 'github' %}" class="btn btn-just-icon btn-link">
              <i class="fa fa-github"></i>
            </a>
          </div>
        </div>
        <p class="description text-center">Or Be Classical</p>
        <div class="card-body">
          {{ form|crispy }}
          <div class="text-right">
            <a href="{% url 'account_reset_password' %}">
              Forgot password?
            </a>
          </div>
          <div class="footer text-center">
            <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit">Log In</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}



<!--test
<div class="input-group">
  {{ form|crispy }}
</div>
<div class="footer text-center">
  <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit">Log In</button>
</div>


-->