
{% extends "form_base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
          <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto">
              <div class="card card-login">
                <form method="POST" action="{{ action_url }}" class="password_reset form">
                  
                  <div class="card-header card-header-primary text-center">
                    <h4>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>
                  </div>
                  <div class="card-body">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p class="text-center">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="footer text-center">
                              <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit" name="action">{% trans 'Change Password' %}</button>
                            </div>
                        {% else %}
                            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </form>
              </div>
            </div>
          </div>
{% endblock %}
