{% extends "form_base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
          <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto">
              <div class="card card-login">
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form">
                  
                  <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">{% trans "Password Reset" %}</h4>
                  </div>
                  <div class="card-body">
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p class="text-center">{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="footer text-center">
                      <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit" name="action">{% trans 'Reset My Password' %}</button>
                    </div>

                    <p class="text-center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                </form>
              </div>
            </div>
          </div>
{% endblock %}
