{% extends "form_base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
          <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto">
              <div class="card card-login">
                <form class="form" method="post">
                  {% csrf_token %}
                  <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">{% trans "Change Password" %}</h4>
                  </div>
                  <div class="card-body">
                    {{ form|crispy }}
                    <div class="footer text-center">
                      <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit" name="action">{% trans "Change Password" %}</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
{% endblock %}
